# Dependencies
node_modules/
package-lock.json

# Generated bundle (re-created by `npm run sync:web` from ../dashboards/)
www/

# Generated native projects (re-created by `cap add android` / `cap add ios`)
android/
ios/

# Generated assets
resources/icon.png
resources/splash.png
resources/splash-dark.png

# Build artefacts
*.apk
*.aab
*.ipa

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Local override
.env
.env.local
